In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE

In [12]:
df = pd.read_csv(r'D:\OneDrive\Documents\IIT\STAGE 02\Machine Learning\CW\data\processed\telco_data_cleaned.csv') 
df.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_0–12,tenure_group_13–24,tenure_group_25–36,tenure_group_37–48,tenure_group_49–60,tenure_group_61–72
0,False,29.85,29.85,0,True,False,False,True,True,False,...,False,False,True,False,True,False,False,False,False,False
1,False,56.95,1889.50,0,False,True,True,False,True,False,...,False,False,False,True,False,False,True,False,False,False
2,False,53.85,108.15,1,False,True,True,False,True,False,...,False,False,False,True,True,False,False,False,False,False
3,False,42.30,1840.75,0,False,True,True,False,True,False,...,True,False,False,False,False,False,False,True,False,False
4,False,70.70,151.65,1,True,False,True,False,True,False,...,False,False,True,False,True,False,False,False,False,False

In [13]:
# split features and target
X = df.drop('Churn', axis=1)
y = df['Churn']

In [14]:
# Stratified split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

In [15]:
# Scale numerical features
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns  # Identify numerical columns

scaler = StandardScaler()
X_train[numerical_cols] = scaler.fit_transform(X_train[numerical_cols]) # Fit and transform on training data
X_test[numerical_cols] = scaler.transform(X_test[numerical_cols])

In [16]:
# SMOTE for balancing classes
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

In [17]:
# verify preprocessed data
print("Training set class distribution after SMOTE:")
print(y_train_resampled.value_counts())
print("\nTest set class distribution:")
print(X_train_resampled.shape, X_test.shape)
print(X_train_resampled.head())

Training set class distribution after SMOTE:
Churn
0    4130
1    4130
Name: count, dtype: int64

Test set class distribution:
(8260, 50) (1407, 50)
   SeniorCitizen  MonthlyCharges  TotalCharges  gender_Female  gender_Male  \
0          False        0.981556      1.659900          False         True
1          False       -0.971546     -0.562252          False         True
2          False        0.837066      1.756104           True        False
3          False        0.641092     -0.908326          False         True
4          False       -0.808787     -0.101561           True        False

   Partner_No  Partner_Yes  Dependents_No  Dependents_Yes  PhoneService_No  \
0       False         True          False            True            False
1        True        False           True           False             True
2       False         True           True           False            False
3        True        False           True           False            False
4       False         True           True           False             True

   ...  PaymentMethod_Bank transfer (automatic)  \
0  ...                                    False
1  ...                                    False
2  ...                                    False
3  ...                                    False
4  ...                                     True

   PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  \
0                                   True                           False
1                                  False                            True
2                                   True                           False
3                                  False                            True
4                                  False                           False

   PaymentMethod_Mailed check  tenure_group_0–12  tenure_group_13–24  \
0                       False              False               False
1                       False              False               False
2                       False              False               False
3                       False               True               False
4                       False              False               False

   tenure_group_25–36  tenure_group_37–48  tenure_group_49–60  \
0               False               False               False
1                True               False               False
2               False               False               False
3               False               False               False
4               False               False                True

   tenure_group_61–72
0                True
1               False
2                True
3               False
4               False

[5 rows x 50 columns]